@model RentalCar.Models.Vehicle

@{
    ViewData["Title"] = "Detalhes do Veículo";
}

<h1>Detalhes do Veículo</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Marca</dt>
        <dd class="col-sm-9">@Model.Marca</dd>

        <dt class="col-sm-3">Modelo</dt>
        <dd class="col-sm-9">@Model.Modelo</dd>

        <dt class="col-sm-3">Matrícula</dt>
        <dd class="col-sm-9">@Model.Matricula</dd>

        <dt class="col-sm-3">Ano de Fabrico</dt>
        <dd class="col-sm-9">@Model.AnoFabricacao</dd>

        <dt class="col-sm-3">Combustível</dt>
        <dd class="col-sm-9">@Model.Combustivel</dd>

        <dt class="col-sm-3">Está Alugado?</dt>
        <dd class="col-sm-9">@((Model.EstaAlugado) ? "Sim" : "Não")</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
